<header class="flex justify-between items-center w-full px-container-margin py-sm sticky top-0 z-50 bg-white/10 dark:bg-white/10 backdrop-blur-xl border-b border-white/15">
<div class="flex items-center gap-sm">
<img alt="Aether Weather Logo" class="h-6 w-6 object-contain" src="https://lh3.googleusercontent.com/aida/AP1WRLuXqNQXZjqKZTkNvs9GkNtxkeUM5fiZTQc2_6Mgw98WulXFrR8g_vMdcJ5Ji0KWkKyAlkIEIoh9-xV0W51mHuFxYWyvOUM-_hmrzev82k8iF7vZrz5e5i9rJHnj81IiiS0OS-_Gw8tI54MmYc8PkZTNVDISnGJALC3rz2sAVJO0OOGYfcFS0Ro1Q2VuFMbJxGXvEFjtNlzn4zUvrc4A5TdZ8mrczq7ViSQB-kl8LiTbaq5MBuyTOJ0JgA">
<span class="font-headline-md text-[16px] font-bold text-on-surface dark:text-on-surface">Aether Weather</span>
</div>
<div class="flex items-center gap-sm">
<button class="material-symbols-outlined p-1.5 text-on-surface-variant hover:bg-white/5 transition-colors rounded-full active:scale-90 transition-transform text-[18px]" data-icon="location_on">location_on</button>
<button class="material-symbols-outlined p-1.5 text-on-surface-variant hover:bg-white/5 transition-colors rounded-full active:scale-90 transition-transform text-[18px]" data-icon="settings">settings</button>
</div>
</header>