{% load static %}

<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Weather App
        {% endblock %}
    </title>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet">

    <!-- Global CSS -->
    <link rel="stylesheet"
          href="{% static 'weather_app/css/style.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>

<body class="bg-surface text-on-surface overflow-x-hidden">

    <!-- Navbar -->
    {% include 'weather_app/partials/navbar.html' %}

    <!-- Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    {% include 'weather_app/partials/footer.html' %}

    <!-- Global JS -->
    <script src="{% static 'weather_app/js/script.js' %}"></script>

    {% block extra_js %}
    {% endblock %}

</body>
</html>